PORT=3000
REDIS_URL=redis://localhost:6379
MAX_GROUP_SIZE=6
HOTELS_SIMULATOR_URL=https://gya7b1xubh.execute-api.eu-west-2.amazonaws.com/default/HotelsSimulator
BOOKING_URL=https://api.booking.example/hotels
